{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load markdown_deux_tags %}
{% block head_extra %}{{ form.media }}{% endblock head_extra %}
{% block content %}

<div class="container job_post">
	<div class="post-project">
		<h3 class="mx-auto">Post a job here....</h3>
		<div class="post-project-fields">   
			<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3 mx-auto">
							<div class="text-danger" style="margin-bottom: 35px;">{{ form.position.errors }}</div>
							<input type="text" name="position" placeholder="Position">
							
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3 mx-auto">
							<div class="text-danger" style="margin-bottom: 35px;">{{ form.job_context.errors }}</div>
							<textarea type="text" name="job_context" placeholder="Job Context"></textarea>
							
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3 mx-auto">
							<div class="text-danger" style="margin-bottom: 35px;">{{ form.job_responsibility.errors }}</div>
							<textarea type="text" name="job_responsibility" placeholder="Job Responsibility"></textarea>

						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3 mx-auto">
							<div class="text-danger" style="margin-bottom: 35px;">{{ form.employment_status.errors }}</div>

							<div class="inp-field">
								<select>
									<option value="fulltime">Full Time</option>
									<option value="parttime">Part Time</option>
									<option value="remote">Remote</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3 mx-auto">
							<div class="text-danger" style="margin-bottom: 35px;">{{ form.educational_req.errors }}</div>
							<textarea type="text" name="educational_req" placeholder="Educational Requirement"></textarea>
						</div>
					</div>
					<div class="row">						
						<div class="col-sm-6 col-sm-offset-3 mx-auto">
							<div class="text-danger" style="margin-bottom: 35px;">{{ form.experience_req.errors }}</div>
							<textarea type="text" name="experience_req" placeholder="Experience Requirement"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3 mx-auto">
							<div class="text-danger" style="margin-bottom: 35px;">{{ form.additional_req.errors }}</div>
							<textarea type="text" name="additional_req" placeholder="Additional Requirement"></textarea>
						</div>
					</div>
					<div class="row">							
						<div class="col-sm-6 col-sm-offset-3 mx-auto">
							<div class="text-danger" style="margin-bottom: 35px;">{{ form.job_location.errors }}</div>
							<div class="price-br">
								<input type="text" name="job_location" placeholder="Job Location">
								
							</div>
						</div>
					</div>
					<div class="row">							
						<div class="col-sm-6 col-sm-offset-3 mx-auto">
							<div class="text-danger" style="margin-bottom: 35px;">{{ form.salaray.errors }}</div>
							<div class="price-br">
								<input type="" name="salaray" placeholder="Salary">
								<i class="la la-dollar"></i>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3 mx-auto">
							<div class="text-danger" style="margin-bottom: 35px;">{{ form.compensation.errors }}</div>
							<textarea type="text" name="compensation" placeholder="Compensation"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3 mx-auto">
							<div class="text-danger" style="margin-bottom: 35px;">{{ form.application_deadline.errors }}</div>
							<input type="date" name="application_deadline" placeholder="Application Deadline">
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3 mx-auto">
							<div class="text-danger" style="margin-bottom: 35px;">{{ form.application_procedure.errors }}</div>
							<textarea name="application_procedure" placeholder="Application Procedure"></textarea>
						</div>
					</div>
						<div class="col-sm-6 col-sm-offset-3 ml-auto">
							<ul>
								<li><button class="active" type="submit" value="post">Post</button></li>
								<li><a href="#" title="">Cancel</a></li>
							</ul>
						</div>
					</div>
				</div>
			</form>
		</div><!--post-project-fields end-->
	</div><!--post-project end-->
</div><!--post-project-popup end-->
{% endblock content %}
