{% extends "base.html" %}
{% load staticfiles %}
{% load markdown_deux_tags %}
{% block content %}


<main>
	<div class="main-section">
		<div class="container">
			<div class="main-section-data">
				<div class="row">
					<div class="col-lg-2">
					</div>
					<div class="col-lg-8">
						<div class="main-ws-sec">
							<div class="posts-section">
								<div class="post-bar">
									<div class="post_topbar">
										<div class="usy-dt">
											<img src="http://via.placeholder.com/50x50" alt="">
											<div class="usy-name">
												<h3>{{instance.company}}</h3>
												<span><img src="images/clock.png" alt="">{{instance.publish_on|timesince}} ago</span>
											</div>
										</div>
										<div class="ed-opts">
											<a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
											<ul class="ed-options">
												<li><a href="#" title="">Edit Post</a></li>
												<li><a href="#" title="">Unsaved</a></li>
												<li><a href="#" title="">Unbid</a></li>
												<li><a href="#" title="">Close</a></li>
												<li><a href="#" title="">Hide</a></li>
											</ul>
										</div>
									</div>
									<div class="epi-sec">
										<ul class="descp">
											<li><img src="images/icon9.png" alt=""><span>{% if instance.job_location %}{{instance.job_location}}{% endif %}</span></li>
										</ul>
										<ul class="bk-links">
											<li><a href="#" title=""><i class="la la-bookmark"></i></a></li>
											<li><a href="#" title=""><i class="la la-envelope"></i></a></li>
										</ul>
									</div>
									<div class="job_descp">
										<h3>{{instance.position}}</h3>
										<ul class="job-dt">
											<li><a href="#" title="">{{instance.employment_status}}</a></li>
											<li><span>{{instance.salaray}}</span></li>
										</ul>
										{% if instance.vacancy %}
										<h3>Vacancy</h3>
										<p>{{instance.vacancy}}</p>
										{% endif %}
										{% if instance.vacancy %}{%else%}
										<h3>Vacancy</h3>
										<p>Not Specific</p>
										{% endif %}


										{% if instance.job_context %}
										<h3>Job Context</h3>
										<p>{{instance.job_context|markdown}}</p>
										{% endif %}

										{% if instance.educational_req %}
										<h3>Educational Requirements</h3>
										<p>{{instance.educational_req|markdown}}</p>
										{% endif %}

										{% if instance.experience_req %}
										<h3>Experience Requirements</h3>
										<p>{{instance.experience_req|markdown}}</p>
										{% endif %}

										{% if instance.additional_req %}
										<h3>Additional Requirements</h3>
										<p>{{instance.additional_req|markdown}}</p>
										{% endif %}

										{% if instance.compensation %}
										<h3>Compensetional</h3>
										<p>{{instance.compensation|markdown}}</p>
										{% endif %}

										{% if instance.application_deadline %}
										<h3>Application Deadline</h3>
										<p>{{instance.application_deadline}}</p>
										{% endif %}

										{% if instance.application_procedure %}
										<h3>Application Procedure</h3>
										<p>{{instance.application_procedure|markdown}}</p>
										{% endif %}
									</div>
									<div class="job-status-bar">
										<ul class="like-com">
											<li>
												<a href="#"><i class="la la-heart"></i> Like</a>
												<img src="images/liked-img.png" alt="">
												<span>25</span>
											</li> 
											<li><a href="#" title="" class="com"><img src="images/com.png" alt=""> Comment 15</a></li>
										</ul>
										<a><i class="la la-eye"></i>Views 50</a>
									</div>
								</div><!--post-bar end-->
							</div><!--posts-section end-->
						</div><!--main-ws-sec end-->
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

{% endblock content %}